---
---

@import "{{ site.theme }}";

$background: #fff;
$background-dark: #17181c;

$color: #000;
$color-dark: #fefefe;

$link: #8825ff;
$link-dark: #635fff;

/** Light Theme **/
body { background: $background; color: $color; }
a { color: $link; }

/** Dark Theme **/
@media (prefers-color-scheme: dark) {
    body { background: $background-dark; color: $color-dark; }
    a { color: $link-dark; }
}