---
---

@import "{{ site.theme }}";

/**
Custom dark theme for Github Pages, by Lachee.
Put this exactly /assets/css/style.scss in your GitHub Pages root.
*/

$background: #fff;
$background-dark: #17181c;

$markdown: #f6f8fa;
$markdown-dark: #0a0a0a;
$markdown-border: #4a4a4a;

$color: #000;
$color-dark: #fefefe;

$link: #8825ff;
$link-dark: #a76bff;

$scrollbar-width: 12px;
$scrollbar-color: #e9e9e9 !default;
$scrollbar-thumb-color: #999999 !default;
$scrollbar-color-dark: #363636 !default;
$scrollbar-thumb-color-dark: #0a0a0a !default;

/** Light Theme **/
body, .markdown-body img { 
    background: $background;
    color: $color; 
}

a { color: $link; }
video {
    background: $markdown;
    border: 1px solid $markdown-border;
    border-radius: 5px;
    padding: 1px;
}

.markdown-body .highlight pre, 
.markdown-body pre,
.markdown-body table tr,
.markdown-body code,
.markdown-body tt
{ 
    background: $markdown;
    border: 1px solid $markdown-border; 
    border-radius: 5px 
}
.markdown-body table th, .markdown-body table td {        
    border: 1px solid $markdown-border; 
}


/** Dark Theme **/
@media (prefers-color-scheme: dark) {    
    .light-only { display: none; }

    body,
    .markdown-body img
    { 
        background: $background-dark; color: 
        $color-dark; 
    }
    a { color: $link-dark; }
    video { background: $markdown-dark; }
    .markdown-body .highlight pre, 
    .markdown-body pre,
    .markdown-body table tr,
    .markdown-body code,
    .markdown-body tt,
    { 
        background-color: $markdown-dark;
    }
}

/** Hide the dark-only */
@media (prefers-color-scheme: light) {
    .dark-only { display: none;}
}


/** Scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: $scrollbar-thumb-color $scrollbar-color;

    &::-webkit-scrollbar {
        width: $scrollbar-width;
        height: $scrollbar-width;
        cursor: pointer !important;
    }
    &::-webkit-scrollbar-track {
        background: $scrollbar-color;
        cursor: pointer !important;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb-color;
        border-radius: 10px;
        border: 3px solid $scrollbar-color;
        cursor: pointer !important;
    }
    
    /* Dark theme scrollbar */
    @media(prefers-color-scheme: dark) {
        &::-webkit-scrollbar-thumb { border-color: $scrollbar-color-dark;  background-color: $scrollbar-thumb-color-dark; }
        &::-webkit-scrollbar-track { background-color: $scrollbar-color-dark; }
    }
}